:root {
  --title-color: #2e2f42;
  --link-color: #2e2f42;
  --header-link-color: #4d5ae5;
  --text-color: #434455;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 470px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1158px;
  }
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
}
.second-title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
}
.text {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
/* ------------------HEADER-------------------- */

/* -------mobile----- */

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .contacts {
    display: none;
  }
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
.humburger-svg {
  padding: 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-studio-header {
  color: #2e2f42;
}
.mobile-menu-open {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition), visibility var(--transition);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}
.mobile-menu-conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 480px;
  padding: 40px;
}
.mobile-menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 15px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color var(--transition), fill var(--transition);
}
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: rgba(64, 75, 191, 1);
  fill: #fff;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 80px;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  transition: color var(--transition);
}
.menu-contacts {
  display: block;
}
.menu-contacts-item-email {
  margin-top: 40px;
  margin-bottom: 28px;
}
.menu-contacts-link-number {
  color: #2e2f42;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  transition: color var(--transition);
}
.menu-contacts-link-number:hover,
.menu-contacts-link-number:focus {
  color: rgba(77, 90, 229, 1);
}
.menu-contacts-link-email {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  transition: color var(--transition);
}
.menu-contacts-link-email:hover,
.menu-contacts-link-email:focus {
  color: rgba(77, 90, 229, 1);
}
.menu-list-icons {
  display: flex;
  gap: 56px;
}
.menu-link-icons {
  padding: 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}
.menu-link-icons:hover,
.menu-link-icons:focus {
  background-color: #404bbf;
}

/* ------tablet-------- */

@media screen and (min-width: 768px) {
  .header-wrap {
    display: flex;
    align-items: center;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 115px;
  }
  .logo-studio-header {
    color: #2e2f42;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-navigation {
    display: flex;
    margin-right: 118px;
  }
  .header-link {
    color: var(--link-color);
    transition: color var(--transition);
  }
  .hover-line {
    color: rgba(64, 75, 191, 1);
  }
  .header-item {
    position: relative;
  }
  .hover-line::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 57px;
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--header-link-color);
  }
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--header-link-color);
  }
}

/* ------desktop------ */
@media screen and (min-width: 1200px) {
  .hover-line::after {
    top: 46px;
  }
  .contacts {
    display: flex;
    gap: 40px;
    margin-left: auto;
  }
  .contacts-link {
    font-weight: 400;
    color: #434455;
    transition: color var(--transition);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--header-link-color);
  }
}

/* ------------------HERO-------------------- */

/* ------mobile------ */

@media screen and (min-width: 320px) {
  .hero {
    background-color: #2e2f42;
    padding-bottom: 112px;
    padding-top: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 470px;
    margin: 0 auto;
  }
  .hero-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
  }
  .hero-btn {
    font-family: inherit;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    margin-top: 72px;
    min-width: 170px;
    height: 51px;
    transition: background-color var(--transition);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-mobile_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 111px;
    padding-top: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-tablet.jpg);
    max-width: 768px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-btn {
    margin-top: 40px;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-tablet_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-desc.jpg);
    max-width: 1200px;
  }

  .hero-btn {
    margin-top: 48px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-desc_2x.jpg);
  }
}

/* ------------------SECTION2-------------------- */

/* -------mobile------- */
@media screen and (min-width: 320px) {
  .characteristics {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .characteristics-title {
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
  }
  .characteristics-svg {
    display: none;
  }
  .characteristics-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 100%;
  }
  .characteristics-text {
    color: #434455;
  }
}

/* -----tablet----- */
@media screen and (min-width: 768px) {
  .characteristics-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .characteristics-item {
    width: calc((100% - 24px) / 2);
  }
  .characteristics-title {
    display: inline;
  }
}

/* ------desctop------ */
@media screen and (min-width: 1200px) {
  .characteristics {
    padding-top: 120px;
  }
  .characteristics-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .characteristics-svg {
    background-color: #f4f4fd;
    border-radius: 4px;
    padding: 24px 102px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .characteristics-title {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

/* ------------------SECTION3-------------------- */
@media screen and (max-width: 1199px) {
  .tasks {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .tasks-title {
    margin-bottom: 72px;
  }
  .tasks-list {
    display: flex;
    gap: 24px;
  }
  .tasks {
    padding-bottom: 120px;
  }
}

/* ------------------SECTION4-------------------- */
@media screen and (min-width: 320px) {
  .members {
    background-color: #f4f4fd;
  }

  .members-title {
    margin-bottom: 72px;
  }
  .card {
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 36px;
  }
  .members-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .members-list-icons {
    display: flex;
    gap: 24px;
    margin-top: 12px;
  }
  .members-link-icons {
    padding: 12px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition);
  }
  .members-link-icons:hover,
  .members-link-icons:focus {
    background-color: #404bbf;
  }
  .members-names {
    margin-bottom: 8px;
  }
}

/* ------------------SECTION5------------------ */

/* ----mobile---- */
@media screen and (min-width: 320px) {
  .customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 72px;
  }
  .customers-list {
    display: flex;
    gap: 20px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .customers-link {
    padding: 16px 32px;
    border: 1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(175, 177, 184, 1);
    transition: color var(--transition), border-color var(--transition);
  }

  .customers-svg {
    fill: currentColor;
  }
  .customers-link:hover,
  .customers-link:focus {
    border-color: rgba(77, 90, 229, 1);
    color: rgba(77, 90, 229, 1);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
}

/* ------------------FOOTER-------------------- */

/* -----mobile----- */
@media screen and (min-width: 320px) {
  .footer {
    background-color: #2e2f42;
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .conteiner-sss {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #ffffff;
    margin-bottom: 16px;
  }
  .logo-studio-footer {
    color: #f4f4fd;
  }
  .social-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-text {
    font-weight: 400;
    color: #e7e9fc;
    width: 264px;
    margin-top: 16px;
    margin-bottom: 72px;
  }
  .footer-list-icons {
    display: flex;
    gap: 16px;
    margin-top: 12px;
    margin-bottom: 72px;
  }
  .footer-link-icons {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition);
  }

  .footer-link-icons:hover,
  .footer-link-icons:focus {
    background-color: #31d0aa;
  }

  .footer-subscribe-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 100px;
    padding-left: 16px;
    padding-bottom: 8px;
    width: 100%;
    height: 40px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .footer-input:focus {
    border-color: #4d5ae5;
    outline: none;
  }
  .footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
  }

  .footer-subscribe-btn {
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding-left: 24px;
    padding-right: 64px;
    height: 40px;
    cursor: pointer;
    transition: background-color var(--transition);
  }
  .footer-subscribe-btn:hover,
  .footer-subscribe-btn:focus {
    background-color: #404bbf;
  }
  .icon-wr {
    position: relative;
  }
  .footer-form-icon {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* ------tablet------ */

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .footer-wrap {
    display: block;
  }
  /* .conteiner-sss {
    display: block;
  } */
  .footer-flex-1 {
    display: flex;
    justify-content: center;
  }
  .social-wrap {
    align-items: flex-start;
    margin-left: 24px;
  }
  .subscribe-container {
    align-items: flex-start;
    margin-left: 0px;
  }
  .footer-form {
    flex-direction: row;
    align-items: flex-start;
  }
  .footer-input {
    width: 264px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    margin-right: 120px;
  }
  .conteiner-sss {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .subscribe-container {
    margin-left: 80px;
  }
}

/* ------------------modal window-------------------- */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .backdrop {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 96px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-y: scroll;
  transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  max-width: 408px;
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color var(--transition), fill var(--transition);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: rgba(64, 75, 191, 1);
  fill: #fff;
}

/* ------------------ MODAL FORM-------------------- */
.modal-form {
  padding: 72px 24px 24px 24px;
}
.modal-desc {
  margin-bottom: 14px;
  text-align: center;
}
.modal-form-field {
  display: flex;
  flex-direction: column;
}
.modal-form-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.icon-form-wrap {
  position: relative;
}

.icon-form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  transition: fill var(--transition);
}

.modal-form-input {
  margin-top: 4px;
  margin-bottom: 8px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border-color var(--transition);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.modal-form-input:focus + .icon-form-svg {
  fill: #4d5ae5;
}
.modal-form-area {
  margin-top: 4px;
  margin-bottom: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  transition: border-color var(--transition);
  resize: none;
  padding-left: 16px;
  padding-top: 8px;
}

.modal-form-area::placeholder {
  font-weight: 400;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-area:focus {
  border-color: rgba(77, 90, 229, 1);
  outline: none;
}

.modal-form-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  margin-bottom: 24px;
}
.modal-form-policy:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color var(--transition);
}
.modal-check-box:checked + .modal-form-policy::before {
  background-color: rgba(64, 75, 191, 1);
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-check-box:focus + .modal-form-policy::before {
  border-color: rgba(77, 90, 229, 1);
}

.policy-link {
  color: rgba(77, 90, 229, 1);
  cursor: pointer;
}
.modal-form-button {
  min-width: 169px;
  align-self: center;
  padding: 16px 32px;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #404bbf;
  outline: none;
}
/* ------------------PORTFOLIO-------------------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
/* .buttons-item {
} */
.button:hover,
.button:focus {
  background-color: #4d5ae5;
  color: #ffffff;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #f4f4fd;
  color: var(--header-link-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  transition: color var(--transition), background-color var(--transition);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  transition: box-shadow var(--transition);
}
.portfolio-item:hover .overlay {
  transform: translate(0, 0);
}
.portfolio-cards {
  width: 360px;
  height: 120px;
  border: 0.5px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* .portfolio-photo {
} */
.portfolio-title {
  padding-left: 16px;
}
.portfolio-text {
  padding-left: 16px;
  margin-top: 8px;
}
.overlay-position {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-weight: 400;
  color: #f4f4fd;
  padding: 40px 32px 164px 32px;
  transform: translate(0, 100%);
  transition: transform var(--transition);
}
